In [ ]:
# HW1 - Kelvin Rodriguez - IS362

In [1]:
# 1)

# Assign integer values to variables.
one = 1
two = 2
three = 3
four = 4

# Assign string values to variables.
can = "can"
do = "do"
python = "python"
more = "more"

print ( one, two, three, four, can, do, python, more)

1 2 3 4 can do python more

In [10]:
# 2)

# Assign integer values to variables.
number1 = 15
number2 = 30

print (f"The result is {number1 * number2}")

The result is 450

In [12]:
# 3)

# Define a function named 'first_and_last' that takes one argument, 'input_list'.
def first_and_last(input_list):
    if len (input_list) > 0 and input_list[0] == input_list [-1]:
        return True
    else:
        return False

# Define two example lists to test the function.
numbers_x = [10, 20, 30, 40, 10]
numbers_y = [75, 65, 35, 75, 30]

# Test the function with 'numbers_x'
print(f'Given list: {numbers_x}')
result_x = first_and_last(numbers_x)
print(f'\nresult is {result_x}')

# Test the function with 'numbers_y'
print(f'\nGiven list: {numbers_y}')
result_y = first_and_last(numbers_y)
print(f'\nresult is {result_y}')

Given list: [10, 20, 30, 40, 10]

result is True

Given list: [75, 65, 35, 75, 30]

result is False

In [24]:
# 4)

# Define a list of numbers.
given_list = [10, 20, 33, 46, 55]

# Print a message to the console.
print ("Given list is", given_list)
print("Divisible by 5")

# Loop through each number in the list.
for number in given_list:
    # Check if the number is perfectly divisible by 5 using the modulo operator.
    # The remainder of the division should be 0.
    if number % 5 == 0:
        # If the condition is true, print the number.
        print (number)

Given list is [10, 20, 33, 46, 55]
Divisible by 5
10
20
55

In [28]:
# 5)

# Define the main string to be searched.
str_x = "Anjali is good developer. Anjali is a writer"

# Define the substring to be counted.
substring = "Anjali"

# Use the .count() method to find how many times the substring appears.
count = str_x.count(substring)

# Print the result using an f-string for formatted output.
print (f"{substring} appeared {count} times")

Anjali appeared 2 times

In [34]:
# 6)

# The outer 'for' loop iterates through the numbers from 1 up to (but not including) 6.
# This loop controls the number that is printed and the number of rows.
for i in range (1, 6):
    # Inner loop controls how many times 'i' is printed per row.
    for J in range(i):
        # Prints the number on the same line, with a space.
        print (i, end=' ')
    # Moves to the next line after each row is complete.
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [50]:
# 7)

# Outer loop controls the rows (1 through 10).
for i in range(1, 11):
    # Calculates the product of the row and column numbers.
    for j in range(1, 11):
        product = i * j
        # Prints the product in a 4-character wide space, followed by a space, on the same line.
        print(f"{product:4}", end=' ')
    print()

   1    2    3    4    5    6    7    8    9   10
   2    4    6    8   10   12   14   16   18   20
   3    6    9   12   15   18   21   24   27   30
   4    8   12   16   20   24   28   32   36   40
   5   10   15   20   25   30   35   40   45   50
   6   12   18   24   30   36   42   48   54   60
   7   14   21   28   35   42   49   56   63   70
   8   16   24   32   40   48   56   64   72   80
   9   18   27   36   45   54   63   72   81   90
  10   20   30   40   50   60   70   80   90  100

In [57]:
# 8)

import numpy as np

# A list of numbers representing temperatures in Kelvin.
Temp_K = [390.65, 107.52, 225.25, 275.98, 318.18, 88.45]

# The same list, but this time we're treating the numbers as weights in kilograms. I used the same list becuase the weight was not listed.
Weights_K = [390.65, 107.52, 225.25, 275.98, 318.18, 88.45]

# Convert the temperature list into a NumPy array for efficient calculations.
Temp_K_array = np.array(Temp_K)

# Convert the weight list into a NumPy array.
Weights_K_array = np.array(Weights_K)

# Convert Kelvin temperatures to Celsius using element-wise subtraction.
Temp_C_array = Temp_K_array - 273.15

# Convert kilograms to pounds using element-wise multiplication.
# The conversion factor is 1 kg = 2.205 lbs.
Weights_lbs_array = Weights_K_array * 2.205

# Round the pound values to two decimal places for a cleaner output.
lbs_rounded = np.round(Weights_lbs_array, decimals=2)

# Print the resulting Celsius temperatures.
print(Temp_C_array)

# Print the final rounded pound values.
print(lbs_rounded)

[ 117.5  -165.63  -47.9     2.83   45.03 -184.7 ]
[861.38 237.08 496.68 608.54 701.59 195.03]

In [1]:
!pip install pandas

Requirement already satisfied: pandas in /opt/anaconda3/lib/python3.13/site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in /opt/anaconda3/lib/python3.13/site-packages (from pandas) (2.1.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/anaconda3/lib/python3.13/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/lib/python3.13/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /opt/anaconda3/lib/python3.13/site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.13/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [8]:
# 9)

# Import the pandas library, which is essential for data analysis.
import pandas as pd 

# Create a dictionary to hold the data for the DataFrame.
data = {
    'Student': ['Tommy', 'Fred', 'Gail', 'Kelvin', 'Randy', 'Ariel'],
    'Hair Color': ['Brown', 'Grey', 'Blonde', 'Brown', 'Black', 'Brown'],
    'Eye Color': ['Hazel', 'Green', 'Blue', 'Brown', 'Hazel', 'Blue'],
    'Weight in Kilograms': [60,80,76,60,88,85]
}

# Create a DataFrame from the dictionary, setting a custom index from 1 to 6.
df = pd.DataFrame(data, index=range(1, len(data['Student']) + 1 ))

# Print the entire DataFrame.
print ("Entire Data Frame")
print (df)
print ("\n" + "="*30 + "\n")

# Select the 'Hair Color' column as a Pandas Series using single brackets.
print("Hair Color Column as Panda Series")
hair_color_series = df['Hair Color']
print (hair_color_series)
print ("\n" + "="*30 + "\n")

# Select the 'Eye Color' column as a Pandas DataFrame using double brackets.
print ("Eye Color Column as Panda DataFrame")
eye_color_df = df [['Eye Color']]
print (eye_color_df)
print ("\n" + "="*30 + "\n")

# Select multiple columns ('Student' and 'Weight') to create a new DataFrame.
print ("DataFrame with Students and Weight Columns")
student_and_weight_df = df[['Student', 'Weight in Kilograms']]
print (student_and_weight_df)
print ("\n" + "="*30 + "\n")

# Use .loc to select rows by their index labels, from 2 to 4 (inclusive).
print ("The Second through Fourth Observations")
second_to_fourth_observations = df.loc[2:4]
print (second_to_fourth_observations)

Entire Data Frame
  Student Hair Color Eye Color  Weight in Kilograms
1   Tommy      Brown     Hazel                   60
2    Fred       Grey     Green                   80
3    Gail     Blonde      Blue                   76
4  Kelvin      Brown     Brown                   60
5   Randy      Black     Hazel                   88
6   Ariel      Brown      Blue                   85

==============================

Hair Color Column as Panda Series
1     Brown
2      Grey
3    Blonde
4     Brown
5     Black
6     Brown
Name: Hair Color, dtype: object

==============================

Eye Color Column as Panda DataFrame
  Eye Color
1     Hazel
2     Green
3      Blue
4     Brown
5     Hazel
6      Blue

==============================

DataFrame with Students and Weight Columns
  Student  Weight in Kilograms
1   Tommy                   60
2    Fred                   80
3    Gail                   76
4  Kelvin                   60
5   Randy                   88
6   Ariel                   85

==============================

The Second through Fourth Observations
  Student Hair Color Eye Color  Weight in Kilograms
2    Fred       Grey     Green                   80
3    Gail     Blonde      Blue                   76
4  Kelvin      Brown     Brown                   60